html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    width: 100%;
    color: black;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 0.5px solid #DBDBDB;
}

#header-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    text-align: center;
}

#header-author-list {
    display: flex;
    justify-content: center;

    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin-right: 20px;
    cursor: pointer;
}

#header-publication {
    text-align: center;
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.section {
    border-bottom: 0.5px solid #DBDBDB;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: underline;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: #002061;
}

.link-activated {
    text-decoration: none;
    color: #002061;
}

.link-activated:hover {
    text-decoration: underline;
}


#content {
    width: 100%;
}

.content-header {
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.content-emp {
    font-weight: 600;
}

.content-it {
    font-style: italic;
}

.content-small {
    font-size: 16px;
}

#index-main-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.content-text {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
}

.content-caption {
    padding: 0 7.5%;
}

.subsection-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 40px;
    font-size: 22px;
}

.subsubsection:nth-child(2) {
    margin-top: 25px;
}

.subsubsection {
    margin-top: 50px;
}

.subsubsection h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    font-size: 20px;
}

.content-small {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-top: 15px;
}

.subsubsection ol {
    margin-top: 20px;
    list-style-position: inside;
}

.subsubsection ol li {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    line-height: 22px;
}

/* mobile */
@media (max-width: 1000px) {

    #container {
        width: 90%;
    }

    #header-logo {
        width: 72px;
        height: 72px;
    }

    #header-title {
        font-size: 20px;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    #header-author-list {
        font-size: 14px;
        flex-direction: column;
        margin-bottom: 14px;
    }

    .header-author {
        text-align: center;
    }

    #header-publication, .content-text {
        font-size: 14px;
    }

    .image {
        width: 100%;
    }

    .content-header {
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .content-text {
        line-height: 18px;
        margin: 20px 0;
    }

    #nav-list {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .nav-item {
        font-size: 12px;
    }

}

/* web */
@media (min-width: 1000px) {

    #container {
        width: 80%;
    }

    #header-logo {
        width: 100px;
        height: 100px;
    }

    #header-title {
        font-size: 36px;
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #header-author-list {
        font-size: 20px;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .header-author {
        margin: 0 20px;
    }

    #header-publication, .content-text {
        font-size: 18px;
    }

    .image {
        width: 85%;
    }

    .content-header {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .content-text {
        line-height: 25px;
        margin: 40px 0;
    }

    #nav-list {
        margin-top: 40px;
    }

    .nav-item {
        font-size: 18px;
    }
}
