html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    width: 100%;
    color: black;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 0.5px solid #DBDBDB;
}

#header-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.header-list {
    display: flex;
    justify-content: center;

    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header-publication {
    text-align: center;
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.section {
    border-bottom: 0.5px solid #DBDBDB;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: underline;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: #002061;
}

.link-activated {
    text-decoration: none;
    color: #002061;
}

.link-activated:hover {
    text-decoration: underline;
}

#content {
    width: 100%;
}

.content-header {
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.content-it {
    font-style: italic;
}

.content-text {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
}

.content-caption {
    padding: 0 8%;
}

#content-text-citation-div {
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#context-text-citation {
    font-family: Consolas, Courier, monospace;
    letter-spacing: 0.2px;
    white-space: pre-line;
    word-wrap: break-word;
}

#content-text-citation-indent {
    padding-left: 40px;
}

#footer {
    margin: 100px 0 0 0;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 0.5px solid #DBDBDB;

    display: flex;
}

#footer-detail-container {
    display: flex;
}

#footer-name-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#footer-name {
    font-size: 14px;
    font-weight: 700;
}

#footer-link-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-text {
    font-size: 12px;
    line-height: 22px;
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #A6A6A6;
    letter-spacing: 0.4px;
}

div.footer-link {
    display: flex;
    align-items: flex-start;
}

div.footer-link i::before {
    font-size: 12px;
    color: #A6A6A6;
    margin-right: 10px;
}

/* mobile */
@media (max-width: 1000px) {

    #container {
        width: 90%;
    }

    #header-title {
        font-size: 24px;
        line-height: 24px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .header-list {
        font-size: 16px;
        flex-direction: column;
        margin-bottom: 14px;
    }

    .header-item {
        text-align: center;
    }

    #header-publication {
        margin-bottom: 14px;
    }

    #header-publication, #header-menu, #context-text-citation, .content-text {
        font-size: 16px;
    }

    .image {
        width: 100%;
    }

    .content-header {
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .content-text, #context-text-citation {
        line-height: 20px;
    }

    .content-text {
        margin: 20px 0;
    }

    #footer {
        flex-direction: column;
    }

    #footer-detail-container {
        width: 100%;
        flex-direction: column;
    }

    #footer-logo {
        margin-top: 20px;
        width: 80px;
        height: 80px;
    }

    #footer-name-container {
        margin-left: 0;
        width: 100%;
    }

    #footer-link-container {
        width: 100%;
    }

}

/* web */
@media (min-width: 1000px) {

    #container {
        width: 80%;
    }

    #header-title {
        font-size: 36px;
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .header-list {
        font-size: 20px;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .header-item {
        margin: 0 20px;
        text-align: center;
    }

    #header-publication {
        margin-bottom: 20px;
    }

    #header-publication, #header-menu, #context-text-citation, .content-text {
        font-size: 18px;
    }

    .image {
        width: 85%;
    }

    .content-header {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .content-text, #context-text-citation {
        line-height: 25px;
    }

    .content-text {
        margin: 40px 0;
    }

    #footer {
        flex-direction: row;
    }

    #footer-detail-container {
        width: 70%;
        flex-direction: row;
    }

    #footer-logo {
        margin-top: 20px;
        width: 80px;
        height: 80px;
    }

    #footer-name-container {
        margin-left: 20px;
        width: 80%;
    }

    #footer-link-container {
        width: 30%;
        margin-left: 50px;
    }

}
